#svgEdit{
    background: #3f3f3c;
    font: 13px/120% 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

::selection {background: #000; color: #fff; /* Safari */}
::-moz-selection {background: #000; color: #fff; /* Firefox */}

html, body {
overflow: hidden;
width: 100%;
height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #444;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #444;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #666;
}

::-webkit-scrollbar-corner {
    background: #444;
}

#svgroot {
    -moz-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    margin-top: -240px;
    left: 0;
}

#svg_editor {
    background: #2f2f2c;
}

#svgcanvas {
    line-height: normal;
    display: inline-block;
    background-color: #A0A0A0;
    text-align: center;
    vertical-align: middle;
    width: 640px;
    height: 480px;
    position: relative;
// top:40%;
    margin-top:10%;
    margin-bottom:15%;
    margin-left: 0px;
    background: #3F3F3C;
}


#linkLabel > svg {
    height: 20px;
    padding-top: 4px;
}

div#workarea {
    position:absolute;
    top: 30px;
    left: 50px;
    bottom: 40px;
    right: 300px;
    background-color: #444;
    text-align: center;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
    -moz-transition: -moz-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
    -o-transition: -o-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
    -ms-transition: -ms-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
    transition: transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
}

.touch  div#workarea {
    /*top: 40px;*/
    top:100%;
}

.menu .menu_list {
    display: none;
    position: absolute;
}

.tool_button,
.tool_button_current,
.tool_button_pressed {
    cursor: pointer;
}

.tool_button:hover,
.push_button:hover,
.buttonup:hover,
.buttondown,
.tool_button_current,
.push_button_pressed
{
    background-color: #fff;
}

.tool_button.disabled,
.tool_button.disabled:hover {
    opacity: 0.3;
    background-color: #aaa;
}

#tools_left .tool_button { background: #2f2f2c; position: relative;}
#tools_left .tool_button.loaded { background: #ccc;}
#tools_left .tool_button.loaded:hover { background: #fff;}
#tools_left .tool_button:after,  #tools_left .tool_button_current:after {
    position: absolute;
    content: '';
    border: solid #2f2f2c 2px;
    top: -1px;
    left: -1px;
    width: 26px;
    height: 26px;
    z-index: 0;
}

#tools_left .tool_button img{ background: white;}
#tools_left .tool_button{ margin-top: 15px;}


#tools_left {
    position: absolute;
    border-right: none;
    width: 50px;
    top: 30px;
    bottom: 0;
    left: 0;
    background: #2F2F2C; /* Needed so flyout icons don't appear on the left */
    z-index: 4;
    text-align: center;
    vertical-align: middle;
}

#cur_context_panel {
    position: absolute;
    top: 47px;
    left: 68px;
    line-height: 22px;
    overflow: auto;
    border-bottom: none;
    border-right: none;
    padding-left: 5px;
    font-size: 12px;
    background: black;
    color: #999;
    opacity: 0.5;
    padding: 0 10px;
    border-radius: 0 10px 10px 0;
}

#tools_left .tool_button,
#tools_left .tool_button_current {
    position: relative;
    z-index: 11;
}

.tool_button,
.push_button,
.tool_button_current,
.push_button_pressed
{
    height: 27px;
    width: 27px;
    border: solid #2f2f2c 8px;
    border-left-width: 13px;
    margin: 0;
    background-color: #ddd;
    cursor: pointer;
}

#button{
    position: absolute;
    right:30px;
    top: 80px;
}

#button button{
    font-size: 15px;
    background-color: white;
    color:black;
    margin-top: 20px;
    width:65px;
    height:34px;
}

#show_coor table{
    background: #3f3f3c;
}

#show_coor{
    color: white;
    font-size: 20px;
    padding-right: 0;
}

#show_coor input{
    width: 50px;
    height: 17px;
    color: black;
}

#coor_left{
    display: inline-block;
}

#coor_right{
    display: inline-block;
    margin-left: 5px;
}

.input_text{
    float: right;
}

.clear{
    clear: both;
}

.coor_text{
    bottom: 0;
}

#hiddenImgList ul{
    width:150px;
    height:700px;
    overflow-y: scroll;
    position: absolute;
    top:80px;
    right:300px;
    background: #fff;
}
#hiddenImgList ul li{
    margin-bottom:10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    line-height: 22px;
}
#hiddenImgList ul li:first-child{
    margin-top: 10px;
}

#hiddenImgList ul li span.imgName.selected{
    background: #4680ff;
}
#hiddenImgList .hiddenImgList li span.isBiaoZhu{
    color:red;
    margin-left: 20px;
}